.nav {
  position: relative;
  z-index: 99;
  background-color: $light;

  .nav__detailsOpen {
    background-color: $light;
    position: fixed;
    top: 0;
    padding: 7px 14px !important;
    z-index: 100;
  }

  .nav__details {
    width: 100%;
    padding: 0 14px;

    .navBar__search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px 0;

      .nav-item:first-child {
        width: 80%;

        input {
          height: 50px;
          border-radius: 10px;
          width: 100%;
          border: 3px solid black;
          border-radius: 30px;
          outline: none;
          padding: 0 0 0 3rem;
          font-size: 1.2rem;
          font-weight: $fw-600;
          color: $secondary;
        }
      }

      .nav-item:last-child {
        button {
          background-color: $light;
          box-shadow: $box-shadow-medium;
          border: none;
          border-radius: 50px;
          padding: 15px;
          margin-left: 10px;

          svg {
            color: #000;
          }
        }
      }
      .search__icon {
        height: 1.8rem;
        width: 1.8rem;
        font-weight: bold;
        stroke-width: 1.8;
        color: $secondary;
        position: relative;
        top: 2px;
        left: 35px;
        background-color: #fff;
        border-radius: 50%;
      }
    }

    .navBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px 0;

      .navBar__logo {
        width: 85px;
        height: 25px;
      }

      .navBar__navItem {
        display: none;

        .search__icon {
          height: 1.8rem;
          width: 1.8rem;
          font-weight: bold;
          stroke-width: 1.8;
          color: $secondary;
          position: relative;
          top: 2px;
          left: 40px;
          background-color: #fff;
          border-radius: 50%;
        }
      }

      // search box - autocomplete
      .navBar__navItem--search__box {
        width: 100%;

        .wrapper {
          min-height: 0;
          border-radius: 30px;

          &:hover {
            box-shadow: inset 0px 0px 0px 2px $dark;
          }

          .search-icon {
            height: 24px;
            width: 24px;
          }
        }
      }
      .search__formate--result {
        display: flex;
        align-items: center;
        gap: 1rem;

        .search__formate--result__img {
          display: block;
          width: 45px;
          height: 45px;
        }
      }

      .navBar__button {
        button {
          background-color: $light;
          box-shadow: $box-shadow-medium;
          border: none;
          border-radius: 50px;
          padding: 15px;
          margin-left: 10px;

          svg {
            color: #000;
          }
        }
      }
    }
  }

  .navBar__menu {
    width: 100%;
    position: fixed;
    background-color: $light;
    top: 80px;
    padding: 8px 20px;
    height: 95%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;

    h3 {
      font-size: 36px;
      margin: 0;
      color: #000;
      font-weight: 600;
    }

    div {
      justify-self: flex-end;
      bottom: 0;

      button {
        width: 100%;
        color: $light;
        background-color: $dark;
        font-size: 18px;
        font-weight: 600;
        height: 60px;
        border-radius: 50px;
        bottom: 0;
        z-index: 200;
        bottom: 0;
      }

      > div {
        display: flex;
        margin-top: 10px;

        div {
          display: block;
          width: 50%;

          p {
            font-size: 16px;
            color: $secondary;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $lg) {
  .nav {
    .nav__details {
      .navBar {
        .navBar__logo {
          width: 125px;
          height: 55px;
        }

        .navBar__navItem {
          display: block;
          cursor: pointer;
          margin: 0 8px;

          .navBar__navItem--setting {
            width: 40px;
            height: 40px;
            cursor: pointer;

            & > img {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border: 4px solid #fff;
              padding: 5px;
              box-shadow: $box-shadow;
            }
          }
          .navBar__navItem--userImg {
            width: 40px;
            height: 40px;
            cursor: pointer;

            img {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border: 4px solid #fff;
              box-shadow: $box-shadow;
            }
          }

          h4 {
            margin: 0;
            font-size: 18px;
            color: $secondary;
          }

          input {
            height: 55px;
            width: 100%;
            border-radius: 30px;
            // border: 1px solid lightgray;
            padding-left: 20px;
            font-size: 18px;
            // padding: 0 0 0 3.5rem;
            font-weight: $fw-600;
            color: $secondary;
          }

          button {
            height: 50px;
            font-size: 18px;
            border-radius: 30px;
            font-weight: 600;
            padding: 0 20px;
          }
        }

        .nav-item:nth-child(2) {
          width: 55%;
          transition: width 0.3s ease-in;
          @media (max-width: 1234px) {
            width: 50%;
          }
          @media (max-width: 1100px) {
            width: 45%;
          }
        }

        .navBar__button {
          display: none;
        }
      }
    }
  }
}
