.secondaryFooter {
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: var(--st--colors-black100);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://f8n-production.imgix.net/collections/439n4i2u7-Screen%20Shot%202022-02-23%20at%207.23.42%20AM.png?q=50&auto=format%2Ccompress&fit=crop&max-w=1200&max-h=596&exp=-5&blur=180);

  .secondaryFooter__top {
    .secondaryFooter__topDetails {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      img {
        margin-top: 80px;
        border: 8px solid $light-gray;
        border-radius: 50%;
        height: 120px;
        width: 120px;
      }

      p {
        margin: 0;
        color: $light;
      }

      p:nth-child(2) {
        font-size: 24px;
        font-weight: 600;
        margin-top: 30px;
      }

      p:nth-child(3) {
        font-size: 18px;
        font-weight: 600;
      }

      p:last-child {
        text-align: center;
        margin-top: 10px;
        padding: 0 20px;
        font-size: 16px;
        margin-bottom: 60px;
      }
    }
    .secondaryFooter__topCard {
      display: none;
    }
  }

  .secondaryFooter__bottom {
    padding: 0 14px;
    > div:first-child {
      margin-bottom: 20px;
      .secondaryFooter__topLogo {
        height: 30px;
        width: 30px;
        background-color: $light;
      }
    }

    > div:last-child {
      display: flex;
      margin-bottom: 60px;

      div > p {
        margin: 0;
        color: $light;
        font-size: 14px;
        font-weight: 600;

        a {
          color: $light;
        }
      }

      > div:first-child {
        width: 30%;
      }
    }
  }
}

@media only screen and (min-width: $sm) {
  .secondaryFooter {
    position: sticky;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
}

@media only screen and (min-width: $md) {
  .secondaryFooter {
    .secondaryFooter__top {
      .secondaryFooter__topDetails {
        p:nth-child(2) {
          font-size: 36px;
        }

        p:nth-child(3) {
          font-size: 24px;
        }
      }
    }

    .secondaryFooter__bottom {
      display: flex;
      justify-content: space-between;
      height: 100%;

      > div:first-child {
        width: 5%;
      }

      > div:last-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 95%;
        height: 100%;

        > div:first-child {
          max-width: 220px;
        }

        > div:last-child {
          max-width: 680px;
        }

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 5px;
          height: 100%;
          gap: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: $lg) {
  .secondaryFooter {
    padding-top: 20px;

    .secondaryFooter__top {
      display: flex;
      gap: 20px;
      width: 100%;
      padding-bottom: 30px;

      .secondaryFooter__topCard {
        display: flex;
        gap: 20px;
        width: 70%;
      }

      .secondaryFooter__topDetails {
        width: 25%;
        align-items: flex-start;

        p:last-child {
          text-align: left;
          padding: 0;
        }
      }
    }
  }
}

.secondaryFooter__bid {
  background: transparent;
  margin-top: 60px;
  position: relative;

  .secondaryFooter__bottom {
    > div:last-child {
      div > p {
        color: $secondary;
        font-weight: 600;

        a {
          color: $secondary;
        }
      }
    }
  }
}
