.activity {
  padding: 0 25px;

  h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    color: $dark;
  }

  .activity__details {
    > div:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $light-gray;
      padding-bottom: 10px;
      margin-bottom: 10px;

      > p:first-child {
        color: $dark;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
      }

      * > p:last-child {
        color: $secondary;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
      }
    }
  }

  .activity__empty {
    width: 100%;
    max-width: 800px;
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: 10px;
    padding: 20px 10px;
    margin-left: auto;
    margin-right: auto;

    h4 {
      text-align: center;
      color: $dark;
    }

    p {
      text-align: center;
      color: $secondary;
      font-size: 14px;
      margin-top: 20px;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media only screen and (min-width: $sm) {
  .activity {
    .activity__empty {
      padding: 40px 10px;

      h4 {
        font-size: 24px;
      }
    }
  }
}
