.singleCollection {
  .singleCollection__top {
    min-height: 723px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(#00000063, #00000063),
      url('https://f8n-production.imgix.net/collections/kx9csndh9-COVER.jpg?q=75&w=1600&auto=format%2Ccompress&fit=fill');

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 25px;

      > div:first-child {
        background-color: #ffffff33;
        backdrop-filter: blur(6px);
        height: 116px;
        width: 116px;
        border-radius: 15px;
        padding: 8px;
        margin-top: 106px;

        > img {
          height: 100%;
          width: 100%;
          border-radius: 10px;
        }
      }

      > p {
        font-size: 16px;
        display: flex;
        align-items: center;
        background-color: #ffffff33;
        backdrop-filter: blur(6px);
        margin-top: 25px;
        color: $light;
        padding: 6px 20px;
        border-radius: 20px;

        .singleCollection__topShareIcon {
          margin-left: 5px;
        }
      }

      h2 {
        font-size: 46px;
        color: $light;
        margin-top: 20px;
      }

      button {
        display: flex;
        align-items: center;
        background-color: #ffffff33;
        backdrop-filter: blur(6px);
        padding: 8px 11px;
        border-radius: 30px;
        margin-top: 25px;
        outline: none;
        border: none;

        img {
          height: 36px;
          width: 36px;
          border-radius: 50%;
          margin-right: 5px;
        }

        p {
          margin: 0;
          color: $light;
          font-size: 16px;
          font-weight: 600;
          margin-right: 10px;
        }
      }
    }
  }

  .singleCollection__bottom {
    padding: 0 25px;

    .singleCollection__bottomTop {
      position: relative;

      > div:first-child {
        box-shadow: $box-shadow-medium;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        margin-top: -103px;
        background-color: $light;

        > div {
          display: flex;

          > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 157px;
            height: 103px;

            p:first-child {
              color: $secondary;
              margin: 0;
              font-size: 18px;
              font-weight: 600;
              margin-bottom: 8px;
            }

            p:last-child {
              color: $dark;
              margin: 0;
              font-size: 24px;
              font-weight: 600;
            }
          }

          > div:first-child {
            border-right: 1px solid $light-gray;
          }
        }

        > div:first-child {
          border-bottom: 1px solid $light-gray;
        }
      }

      > div:last-child {
        position: absolute;
        right: 0;
        margin-top: 20px;

        button {
          box-shadow: $box-shadow;
          position: relative;
          height: 40px;
          border-radius: 30px;

          &:hover {
            box-shadow: $box-shadow-medium;
            top: -1px;
          }
        }

        button:last-child {
          display: none;
        }
      }
    }

    .singleCollection__bottomBottom {
      margin-top: 80px;

      .singleCollection__bottomBottomTab {
        border-bottom: 1px solid $light-gray;
        display: flex;
        margin-bottom: 20px;

        p {
          margin: 0;
          margin-right: 24px;
          padding: 15px 0;
          font-size: 16px;
          font-weight: 600;
          color: $dark;
          cursor: pointer;
          height: 100%;
        }
      }

      select {
        font-size: 16px;
        font-weight: 600;
        height: 35px;
        width: 230px;
        border: 1px solid $light-gray;
        border-radius: 5px;
        background-color: $light;
        outline: none;
        box-shadow: $box-shadow;
      }

      .singleCollection__bottomBottomInfo {
        margin-top: 25px;

        > p {
          font-size: 18px;
          max-width: 640px;
          height: 510px;
          color: $dark;
        }

        h4 {
          color: $dark;
          font-size: 24px;
          margin-bottom: 30px;
        }

        table {
          margin-bottom: 350px;
          thead {
            tr {
              th {
                font-size: 16px;
                color: $secondary;
              }

              th:nth-child(2),
              th:nth-child(3),
              th:nth-child(4) {
                display: none;
              }
            }
          }

          tbody {
            border: 1px solid $border-color;
            border-radius: 10px;
            max-width: 100%;
            overflow: hidden;

            tr {
              td {
                padding: 10px;

                > * {
                  display: flex;
                  align-items: center;

                  p {
                    font-size: 14px;
                    font-weight: 600;
                    margin: 0;
                    padding: 5px;
                    white-space: nowrap;
                  }
                }
              }

              td:first-child {
                > * {
                  img {
                    height: 32px;
                    width: 32px;
                    border-radius: 8px;
                    margin-right: 8px;
                  }
                }
              }

              td:nth-child(2),
              td:nth-child(3),
              td:nth-child(4) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $sm) {
  .singleCollection {
    .singleCollection__bottom {
      .singleCollection__bottomBottom {
        .singleCollection__bottomBottomTab {
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $md) {
  .singleCollection {
    .singleCollection__top {
      height: 855px;

      > div {
        > div:first-child {
          height: 184px;
          width: 184px;
          padding: 12px;
        }
      }
    }

    .singleCollection__bottom {
      .singleCollection__bottomTop {
        > div:last-child {
          top: 55px;
          display: flex;

          button {
            height: 56px;
            padding: 0 15px;
          }

          button:last-child {
            display: flex;
            align-items: center;
            margin-left: 15px;

            div {
              display: flex;
              align-items: center;

              p {
                margin: 0;
                padding: 20px 0;
                font-size: 16px;
                margin-left: 5px;
              }
            }
          }
        }
      }

      .singleCollection__bottomBottom {
        position: relative;
        margin-top: 30px;

        .singleCollection__bottomBottomTab {
          margin-bottom: 10px;
        }

        select {
          position: absolute;
          right: 0;
        }

        .singleCollection__bottomBottomInfo {
          margin-top: 60px;

          > p {
            font-size: 24px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $lg) {
  .singleCollection {
    .singleCollection__top {
      height: 721px;

      > div {
        align-items: flex-start;
      }
    }

    .singleCollection__bottom {
      .singleCollection__bottomTop {
        > div:first-child {
          margin-left: 0;
          display: flex;
          padding-left: 32px;
          margin-top: -67.5px;

          > div {
            > div {
              height: 135px;
              width: fit-content;
              padding-right: 32px;
            }

            > div:first-child {
              border-right: none;
            }
          }

          > div:first-child {
            border-bottom: none;
          }
        }

        > div:last-child {
          top: 18.5px;
        }
      }

      .singleCollection__bottomBottom {
        .singleCollection__bottomBottomInfo {
          table {
            thead {
              tr {
                th:nth-child(2),
                th:nth-child(3),
                th:nth-child(4) {
                  display: table-cell;
                }
              }
            }

            tbody {
              tr {
                td {
                  padding: 20px 10px;

                  > * {
                    p {
                      font-size: 16px;
                      padding: 15px 0;
                    }
                  }
                }

                td:first-child {
                  > * {
                    img {
                      height: 50px;
                      width: 50px;
                    }
                  }
                }

                td:nth-child(2),
                td:nth-child(3) {
                  button {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    outline: none;
                    border: none;

                    img {
                      height: 36px;
                      width: 36px;
                      margin-right: 10px;
                      border-radius: 50%;
                    }

                    p {
                      margin: 0;
                    }
                  }
                }

                td:nth-child(2),
                td:nth-child(3),
                td:nth-child(4) {
                  display: table-cell;
                }
              }
            }
          }
        }
      }
    }
  }
}
