.trending {
  padding: 0 25px;

  .trending__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    h3 {
      font-size: 34px;
      text-align: center;
      color: $dark;
    }

    .trending__duration {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;

      p {
        font-size: 16px;
        font-weight: 600;
        color: $secondary;
        margin: 0 8px;
        padding: 3px 8px;
        cursor: pointer;
      }

      .trending__durationSelected {
        background-color: #d3d3d3ca;
        color: $dark;
        border-radius: 10px;
      }
    }

    .trending__tab {
      margin-top: 10px;
      width: 100%;
      border-bottom: 1px solid $light-gray;

      .trending__tabTab {
        display: flex;

        p {
          margin: 0;
          margin-right: 20px;
          padding-bottom: 15px;
          font-size: 14px;
          font-weight: 600;
          cursor: pointer;
        }
      }

      .trending__tabDuration {
        display: none;
      }
    }

    table {
      margin-top: 20px;

      thead {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        border-bottom: 1px solid $light-gray;
        box-shadow: $box-shadow;
        border-radius: 8px;
        background-color: $light;
        z-index: 99;

        th {
          color: $secondary;
          padding: 15px 10px;

          select {
            padding: 5px;
            font-weight: 600;
            outline: none;
            border: 1px solid $light-gray;
            background-color: $light;
            width: 150px;
          }
        }

        .trending__deskTh {
          display: none;
        }

        .trending__mobileTh {
          color: $dark;
          display: flex;
          justify-content: flex-end;
          text-align: right;
        }
      }

      tbody {
        tr {
          box-shadow: $box-shadow;
          border-radius: 6px;
          margin-bottom: 10px !important;
          position: relative;
          transition: 0.15s;

          td:first-child > * {
            display: flex;
            align-items: center;

            > p {
              margin: 0;
              font-size: 14px;
              font-weight: 600;
              color: $secondary !important;
              margin-right: 25px;
            }

            > div {
              display: flex;
              align-items: center;

              img {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                margin-right: 10px;
              }

              .trending__collectionImg {
                height: 40px;
                width: 40px;
                border-radius: 10px;
              }

              p {
                margin: 0;
                font-size: 14px;
                font-weight: 600;
              }

              p:first-child {
                color: $dark;
              }

              p:last-child {
                width: fit-content;
                background: linear-gradient(
                  to right,
                  green 5%,
                  orange 20%,
                  red 40%,
                  #ff4967 60%,
                  blue 80%,
                  aqua 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }

          td {
            padding: 25px 10px;

            p {
              margin: 0;
              font-size: 14px;
              font-weight: 600;
            }

            p:last-child {
              color: $secondary;
            }

            p:first-child {
              color: $dark;
            }
          }

          td:last-child {
            text-align: right;
          }

          .trending__deskTd {
            display: none;
          }

          &:hover {
            box-shadow: $box-shadow-medium;
            top: -1px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $lg) {
  .trending {
    .trending__title {
      .trending__duration {
        display: none;
      }

      .trending__tab {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .trending__tabTab {
          p {
            font-size: 18px;
          }
        }

        .trending__tabDuration {
          display: flex;

          p {
            font-size: 16px;
            font-weight: 600;
            color: $secondary;
            margin: 0 8px;
            padding: 3px 8px;
            margin-bottom: 15px;
            cursor: pointer;
          }

          .trending__durationSelected {
            background-color: #d3d3d3ca;
            color: $dark;
            border-radius: 10px;
          }
        }
      }

      table {
        thead {
          .trending__deskTh {
            display: table-cell;
          }

          .trending__deskThRight {
            text-align: right;
          }

          .trending__deskThDark {
            color: $dark;
            text-align: right;
          }

          .trending__mobileTh {
            display: none;
          }
        }

        tbody {
          tr {
            .trending__deskTd {
              display: table-cell;
            }

            .trending__deskTdRight {
              text-align: right;
            }

            td:first-child > * {
              > p {
                font-size: 18px;
                width: fit-content;
              }

              > div {
                display: flex;
                align-items: center;

                img {
                  height: 50px;
                  width: 50px;
                  margin-right: 20px;
                }

                .trending__collectionImg {
                  height: 60px;
                  width: 60px;
                }

                p {
                  font-size: 22px;
                }
              }
            }

            td {
              p {
                font-size: 22px;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $xl) {
  .trending {
    .trending__title {
      h3 {
        text-align: left;
        align-self: flex-start;
        font-size: 46px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
}
