@mixin commonCss(
  $smFont,
  $mdFont,
  $lgFont,
  $textAlign,
  $paddingY,
  $paddingX,
  $svgHeight,
  $svgWidth
) {
  margin-top: 10px;

  p {
    margin: 0;
    width: fit-content;
  }

  p:first-child {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: $smFont;
    border-radius: 20px;
    padding-right: 12px;
    box-shadow: $box-shadow;
    margin: 0;

    span:first-child {
      background-color: $dark;
      color: $light;
      padding: $paddingY $paddingX;
      border-radius: 20px;
      margin-right: 10px;
    }

    svg {
      height: $svgHeight;
      width: $svgWidth;
      margin-left: 10px;
      color: $secondary;
      cursor: pointer;
    }
  }

  p:nth-last-child(2) {
    font-size: $lgFont;
    text-align: $textAlign;
    width: 100%;
    font-weight: 600;
    margin-top: 10px;
  }

  p:last-child {
    font-size: $mdFont;
    font-weight: 600;
    text-align: $textAlign;
    width: 100%;
    background: linear-gradient(
      to right,
      #02d602 10%,
      orange 20%,
      red 40%,
      #ff4967 60%,
      blue 80%,
      aqua 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.userProfile__nav {
  background: linear-gradient(#00000067, #00000067),
    url('https://f8n-production.imgix.net/creators/profile/6x7pqrpj0-sunflower-jpg-1vrgsz.jpg?q=75&w=1600&auto=format%2Ccompress&fit=fill');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;

  > * {
    z-index: 2;
  }
}

.userProfile {
  background-color: $light;
  z-index: 99;
  padding: 0 25px;
  padding-bottom: 60px;
  z-index: 1;

  .userProfile__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    > img {
      width: 120px;
      height: 120px;
      border: 10px solid $light;
      border-radius: 50%;
      margin-top: -60px;
      z-index: 3;
    }

    .userProfile__topAddress {
      @include commonCss(12px, 18px, 24px, center, 7px, 12px, 14px, 14px);
    }

    .userProfile__topCollected {
      display: flex;
      align-items: center;
      margin-top: 25px;
      padding: 15px 20px;
      box-shadow: $box-shadow;
      border-radius: 30px;
      cursor: pointer;

      p {
        margin: 0;
        margin-right: 20px;
        font-size: 16px;
        font-weight: 600;
      }

      img {
        height: 32px;
        width: 32px;
        border: 3px solid $light;
        border-radius: 50%;
        margin-left: -10px;
      }

      p:last-child {
        display: none;
      }
    }
  }

  .userProfile__bottom {
    margin-top: 60px;
    .userProfile__bottomFollower {
      .userProfile__topAddress {
        display: none;
      }

      > div:nth-child(2) {
        display: flex;
        align-items: center;
        margin-top: 10px;

        div {
          cursor: pointer;

          p {
            margin: 0;
            margin-right: 20px;
            font-weight: 600;
          }

          p:first-child {
            font-size: 22px;
            color: $dark;
          }

          p:last-child {
            font-size: 16px;
            color: $secondary;
          }

          &:hover {
            p:last-child {
              color: $dark;
            }
          }
        }

        button {
          font-size: 16px;
          font-weight: 600;
          padding: 10px 25px;
          border-radius: 30px;
          border: 2px solid $light-gray;

          &:hover {
            background-color: $dark;
            color: $light;
          }
        }
      }

      > div:last-child {
        margin-top: 30px;

        p {
          margin: 0;
        }

        p:first-child {
          font-size: 16px;
          font-weight: 600;
          color: $dark;
        }

        div {
          display: flex;
          margin-left: 10px;
          margin-top: 15px;

          img {
            height: 32px;
            width: 32px;
            border: 3px solid $light;
            border-radius: 50%;
            margin-left: -20px;
          }
        }

        p:last-child {
          font-size: 16px;
          font-weight: 600;
          color: $secondary;
          margin-top: 20px;
          cursor: pointer;
        }
      }
    }

    .userProfile__bottomColCre {
      margin-top: 30px;

      > div:first-child {
        display: flex;
        gap: 30px;
        border-bottom: 1px solid $light-gray;

        p {
          margin: 0;
          font-size: 16px;
          font-weight: 600;
          padding-bottom: 15px;
          cursor: pointer;

          span {
            font-weight: 500;
            margin-left: 5px;
          }
        }
      }

      > div:last-child {
        margin-top: 20px;
        display: flex;
      }
    }

    .userProfile__bottomBio {
      margin-bottom: 30px;

      h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $light-gray;
      }

      p {
        font-size: 14px;
        font-weight: 500;
      }
    }

    .userProfile__bottomTags {
      p {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
        padding: 10px;
        box-shadow: $box-shadow;
        width: fit-content;
        border-radius: 20px;
        margin-bottom: 10px;
        color: $dark;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;

        svg {
          height: 19px;
          width: 19px;
        }

        svg:first-child {
          margin-right: 5px;
        }

        svg:last-child {
          margin-left: 5px;
        }

        span {
          background-color: $dark;
          color: $light;
          padding: 2px 5px;
          border-radius: 5px;
          margin-right: 8px;
        }

        img {
          height: 24px;
          width: 24px;
          margin-left: 10px;
          border-radius: 50%;
        }

        &:hover {
          box-shadow: $box-shadow-medium;
          top: -1px;
        }
      }
    }

    .userProfile__bottomLinks {
      margin-top: 25px;
      h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $light-gray;
      }

      p {
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        margin: 0;
        margin-bottom: 10px;

        svg {
          height: 24px;
          width: 24px;
          margin-right: 10px;
        }
      }

      p:nth-child(4) {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        margin-top: 20px;

        span:last-child {
          font-weight: 500;
        }
      }

      button {
        box-shadow: $box-shadow;
        border-radius: 30px;
        height: 45px;
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (min-width: $md) {
  .userProfile__nav {
    height: 280px;
  }

  .userProfile {
    .userProfile__top {
      flex-direction: row;
      justify-content: space-between;

      > img {
        height: 180px;
        width: 180px;
        margin-top: -120px;
      }

      .userProfile__topAddress {
        display: none;
      }

      .userProfile__topCollected {
        margin-top: -60px;
        background-color: $light;

        p:last-child {
          display: block;
          margin-left: 10px;
          color: $secondary;
          margin-right: 0;

          &:hover {
            color: $dark;
          }
        }
      }
    }

    .userProfile__bottom {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 30px;

      .userProfile__bottomFollower {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        .userProfile__topAddress {
          display: block;
          @include commonCss(14px, 24px, 36px, left, 6px, 16px, 16px, 16px);
        }
      }

      .userProfile__bottomColCre {
        margin-top: 0;
        grid-column: 2 / 5;
        grid-row: 1 / 100;
      }

      .userProfile__bottomBio {
        margin-top: 40px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }

      .userProfile__bottomTags {
        margin-top: 50px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }

      .userProfile__bottomLinks {
        margin-top: 15px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
      }
    }
  }
}
