/* Bootstrap overrides
-------------------------------------------------- */
// Sass Variables
@import './abstracts/variables';

/* Do not move the imports from here.
Override Bootstrap variables only above.
-------------------------------------------------- */
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/reboot';

// Reset/normalize
@import './base/reset';

// pages/
@import './pages/home';
@import './pages/single_collection';
@import './pages/common/tabnavigation';
@import './pages/nftDetails';
@import './pages/bid';
@import './pages/userProfile';
@import './pages/balance';

// layout/
@import './layout/navigation';
@import './layout/singleCollection_nav';
@import './layout/dashboard';
@import './layout/footer';
@import './layout/secondaryFooter';
@import './layout/singleCollection_footer';

// themes/
@import './themes/pageState';
@import './themes/custom';

// components
@import './components/nftSidebar';
@import './components/nfts';
@import './components//singleCollection/navigationTab/navigation_tab';
@import './components/userProfileModal';
